*{
			margin: 0;
			padding: 0;
			font-family: 'DM Sans', sans-serif;

		}

		body{
			background: #E5E5E5;
		}


		.homeScreen{

			background: linear-gradient(123.75deg, #F5821F 1.87%, #FF5C00 120.46%);
			/*linear-gradient(to bottom,  #9c9e9f 50%,#9c9e9f 70%,#f6f6f6 70%,#f6f6f6 100%);*/
			padding-left: 56px;

			border-radius: 15px 15px 0px 0px;
			height: 295px;
			
			
			
		}
		.iris{
			font-weight: bold;
			font-size: 30px;
			line-height: 36px;
			padding-top: 19px;

		}
		.hello{
			font-weight: bold;
			font-size: 22px;
			line-height: 27px;

		}
		.virtual{
			line-height: 23px;
			font-weight: 500;
			font-size: 18px;
		}
		.formDiv{
			height: 340px;
			background: white;
			border-radius:  0 0 15px 15px;
		}
		.cardTop{
			color: black; 
			margin-top:-83px;
		}
		.cardBodyDiv{
			width: 67px;height: 67px;background: linear-gradient(180deg, #FF7600 0%, #FF5C00 100%);box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15); border-radius: 50%; display: flex;justify-content: center;align-items: center;margin-top: -58px;
		}
		.robot{
			font-size: 30px;
		}
		.fAsked{
			font-size: 14px;font-weight: 500;padding-top: 15px;display: inline-block;
		}
		.questionDiv1{
			width: 21px;height: 21px;display: inline-block;background: rgba(247, 183, 49, 0.12);border-radius: 50%;position: relative;
		}
		.questionDiv2{
			margin: 0;position: absolute;top: 50%;left: 50%;-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);
		}
		.fa-question{
			color: #FF7600;font-size: 14px;
		}

		.formDiv1{
			height: 50px;background: #FFFFFF;border: 1px solid #E1E1E1;box-sizing: border-box;box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);border-radius: 8px;display: flex;align-items: center;
		}

		.formDiv2{
			width: 14px;height: 14px;background: rgba(255, 118, 0, 0.15); border-radius: 50%;display: flex;justify-content: center;align-items: center;
		}

		.formDiv3{
			width: 8px;height: 8px;background: rgba(255, 118, 0, 0.8);border-radius: 50%;
		}

		.formDiv4{
			font-weight: normal;font-size: 12px;color: #2D2D2D;position: relative;left: 8px;margin-right:10px;
		}
		.btn{
			width: 268px;height: 44px;background: #FFFFFF;border: 1px solid #D1D1D1;box-sizing: border-box;
			box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);border-radius: 100px;font-weight: 500;font-size: 14px;line-height: 18px;color: #2D2D2D;
		}
		.fa-comment-alt{
			font-size: 12px;
		} 

		@media only screen and (max-width: 600px){
			.query{
				margin-top:2%;

				width: 98%;
			}

		}
		@media only screen and (min-width: 601px){
			.query{
				margin-top:2%;
				width: 87%;
			}

		}

